.search{
    display: flex;
    justify-content: center;
    padding: 30px;

}
#SearchPok{
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    border:2px solid rgb(55, 91, 255);
}
#searchLabel{
    color: rgb(55, 91, 255);
    font-size: 20px;
    margin-left: 10px;
}
@media (max-width: 600px){
    #SearchPok{
        padding: 0px;
        height: 20px;
    }
    #searchLabel{
        font-size: 15px;  
    }
}
